<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bingo.server.mapper.SetmealDetailedMapper">
    <resultMap id="setmealdetailedRM" type="setmealdetailed">
        <id property="sdId" column="sdId"/>
        <result property="smId" column="smId"/>
        <result property="ciId" column="ciId"/>
        <association property="item" javaType="item"
                     select="com.bingo.server.mapper.ItemMapper.selectById" column="ciId"/>
    </resultMap>

    <select id="getItemsBySmId" resultMap="setmealdetailedRM">
        select * from setmealdetailed where smId=#{smId}
    </select>
</mapper>