<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="false"/>
    </settings>
    
    <typeAliases>
        <package name="com.bingo.server.po"/>
        <package name="com.bingo.server.dto"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.baomidou.mybatisplus.extension.plugins.MybatisPlusInterceptor">
            <property name="@page" value="com.baomidou.mybatisplus.extension.plugins.inner.PaginationInnerInterceptor"/>
            <property name="page:dbType" value="h2"/>
        </plugin>
    </plugins>

    <mappers>
        <package name="com.bingo.server.mapper"/>
    </mappers>


</configuration>

